h1{
	font weight:500;
	background-color: white;
}
body{
	background-color:#1a9291;
}
.col-md-12{
	  text-align: center;
}

.col-md-8{
	text-align:center;
	color:white !important;

}
.tiri{
	text-align:center;
}
.col-md-5{
	color:white;
}
.gram{
	font-size: 20px;
}
.video{
	background-color: white;
	font-size: 40px;
}
}